body {
    display: block;
    margin: -1px auto;
    max-width: 830px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-left: 30px;
    padding-right: 30px
  
  }

#header {
    background-color: unset;
    border-bottom: 1px solid #e6e6e6;
  }
  

#header,
#foooter {
  padding-left: 0px;
  padding-right: 0px;
}

  
@media(prefers-color-scheme: dark){
    body {
        color: #d8dde2;
        background-color: #232325;
    }

    #header {
        border-bottom: 1px solid #3c3c3e;
    }
  
}
